/Book$__clinit__closure1.class
/Book.class
/BookController$_list_closure1.class
/BookController$_list_closure1_closure3.class
/BookController$_list_closure1_closure4.class
/BookController$_list_closure1_closure5.class
/BookController$_show_closure2.class
/BookController$_show_closure2_closure6.class
/BookController$_show_closure2_closure7.class
/BookController$_show_closure2_closure8.class
/BookController.class
/BookControllerTests.class
/BookTests$_$spock_feature_0_0_closure1.class
/BookTests.class
/Student$__clinit__closure1.class
/Student.class
/StudentController.class
/StudentControllerTests.class
/StudentTests.class
